* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background: url("card-library/backimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
body {
    color: #92832e;
    height: 90vh;
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dealer-cards {
    border: 2px dashed #92832e;
}

#dealer-cards img {
    height: 25vmin;
}

#player-cards {
    border: 2px dashed #92832e;
}

#player-cards img{
    height: 25vmin;
}

#deal-btn {
    margin: 10px 0 0;
    font-size: 35px;
}

#betting-controls {
    text-align: center;
}

#bet-controls {
    border: 5px solid #92832e;
    background-color: white;
    padding: 5px;
    margin: 10px;
}

#bet-controls > button {
    font-size: 25px;
    padding: 0px 10px;
}

#play-btns > button {
    font-size: 20px;
    padding: 0px 8px;
}
   
#wager {
    font-size: 20px;
}